<div class="container">
  <header class="flex items-center justify-between">
    <div class="logo">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png"
        alt="logo" class="w-20">
    </div>
    <nav class="hidden lg:block">
      <ul class="flex gap-3 font-semibold">
        <li><a href="#">Themes</a></li>
        <li><a href="#">Dashboards</a></li>
        <li><a href="#">Elements</a></li>
        <li><a href="#">Others</a></li>
      </ul>
    </nav>
    <div class="flex gap-3 items-center">
      <i class="bi bi-facebook text-2xl leading-3 cursor-pointer hover:scale-110"></i>
      <i class="bi bi-twitter text-2xl leading-3 cursor-pointer hover:scale-110"></i>
      <i class="bi bi-twitter text-2xl leading-3 cursor-pointer hover:scale-110"></i>
      <div
        class="cta__submit__product flex items-center text-white rounded-5 bg-red-500 px-2 py-2 font-bold hover:scale-105 cursor-pointer">
        <i class="bi bi-plus text-lg leading-3"></i>
        <p>SUBMIT PRODUCT</p>
      </div>
    </div>
  </header>
</div>